In [1]:
a = 10
print(a)

In [2]:
a= 10 
print(a)

In [3]:
b=6.7
print(type(b))

In [4]:
cities = ['서울','부산','인천','대구','대전','광주',\
         '울산','수원']

In [7]:
print(cities)

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

In [9]:
color2 = ['orange','black','white']

In [10]:
print(color2)

['orange', 'black', 'white']

In [11]:
color2.insert(2, 'purple')

In [12]:
print(color2)

['orange', 'black', 'purple', 'white']

In [14]:
color2.remove('purple')
print(color2)

['orange', 'black', 'white']

In [17]:
appetizer = ['egg','salad','braed','soup','canape']
main_dish = ['fish', 'lamb', 'pork','beef','chicken']
dessert = ['apple','ice cream', 'pudding','cookies','cake']

order = [appetizer, main_dish, dessert]
jane = [order[0][:-2], main_dish[1::3], dessert[1]]
del jane[2]
jane.extend([order[2][0:1]])

In [18]:
print(jane)

[['egg', 'salad', 'braed'], ['lamb', 'chicken'], ['apple']]

In [19]:
my_age = int(input('Tell my your age?'))
if my_age < 30:
    print('Welcome to the club')
else:
    print("Oh! No, you are not accepted.")

Tell my your age?31
Oh! No, you are not accepted.

In [23]:
score = int(input('Enter your score:'))
if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else:
    grade = 'F'
    
print(grade)

Enter your score:80
B

In [24]:
a = 10
b = a * 10 if  a % 2 == 0 else a +10
print(b)

100

In [26]:
for n in [1,2,3,4,5]:
    print ('No.', n )

No. 1
No. 2
No. 3
No. 4
No. 5

In [27]:
for n in range(5):
    print('No.',n)

No. 0
No. 1
No. 2
No. 3
No. 4

In [28]:
for n in 'abcdefg':
    print(n)

a
b
c
d
e
f
g

In [32]:
for n in ['banana','pineapple','mango']:
    for k in n:
        print(k)
    print()

b
a
n
a
n
a

p
i
n
e
a
p
p
l
e

m
a
n
g
o

In [33]:
for n in ['banana','pineapple','mango']:
    for k in n:
        print(k, end='')
    print()

banana
pineapple
mango

In [34]:
i = 1
while i <10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9

In [35]:
for i in range(10):
    if i == 5:
        break
    print(i)

print('End of program')

0
1
2
3
4
End of program

In [36]:
for i in range(10):
    if i == 5:
        continue
    print(i)

print('End of program')

0
1
2
3
4
6
7
8
9
End of program

In [38]:
for i in range(10):
    print(i)
else:
    print('End of program')

0
1
2
3
4
5
6
7
8
9
End of program

In [40]:
for i in range(10):
    if i == 5: break
    print(i)
else:
    print('End of program')

0
1
2
3
4

In [57]:
n = int(input('몇단? '))
for i in range(1,10):
    print(n,"x",i, n*i)

몇단? 3
3 x 1 3
3 x 2 6
3 x 3 9
3 x 4 12
3 x 5 15
3 x 6 18
3 x 7 21
3 x 8 24
3 x 9 27

In [61]:
print("몇단? ")
dan = input()
print("구구단", dan, "단 계산")
int_dan = int(dan)
for i in range(1,10):
    result = int_dan * i
    print(dan, 'x', i, '=', result)

몇단?
4
구구단 4 단 계산
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

In [74]:
sentence ='I love you'
reverse_sentence = ""
for c in sentence:
   reverse_sentence = c + reverse_sentence
print(reverse_sentence)

uoy evol I

In [75]:
#def 함수 이름 (인자1, 인자2,... 옵션):
# -> 실행문2
# -> 실행문2
# -> return 반환값(옵션)

In [87]:
def calculate_rectangle_area(x,y):
    return x * y

In [88]:
rectangle_x =10
rectangle_y = 20
print(rectangle_x)
print(rectangle_y)
print('사각형 넓이:', \
     calculate_rectangle_area(rectangle_x, rectangle_y))

10
20
사각형 넓이: 200

In [98]:
def func1(x):
    x += 1
    print=("func1의 x:",x)

In [99]:
x = 10
func1(x)
print("메인의 x:", x)

메인의 x: 10

In [100]:
#call-by-reference
fruits = ['melone','apple','banana']
my_bag = fruits
print(fruits)

['melone', 'apple', 'banana']

In [101]:
print(my_bag)

['melone', 'apple', 'banana']

In [102]:
my_bag.sort()
print(fruits)
print(my_bag)

['apple', 'banana', 'melone']
['apple', 'banana', 'melone']

In [103]:
def shopping_cart(goods):
    goods.append('coupon')
    goods = [1,2]
    print('In shooping_cart: ',goods)

In [106]:
shooping_list = ['bean', 'salt','beef']
shopping_cart(shooping_list)
print('Goods I bought: ', shooping_list)

In shooping_cart:  [1, 2]
Goods I bought:  ['bean', 'salt', 'beef', 'coupon']

In [107]:
def test(x):
    print(x)
    t = 20
    print("In test t, a:", t, a)

In [108]:
a = 10
test(a)
print("In main a:", a)

10
In test t, a: 20 10
In main a: 10

In [109]:
def test(x):
    print(x)
    t = 20
    a = 300
    print("In test t, a:", t, a)

In [110]:
a = 10
test(a)
print("In main a:", a)
print("In main t:", t)

10
In test t, a: 20 300
In main a: 10

NameError: name 't' is not defined

In [113]:
def f():
    s = 'I love Doosan!'
    print(s)

In [114]:
s = 'I love Hanhwa!'
f()
print(s)

I love Doosan!
I love Hanhwa!

In [116]:
def f():
    global s 
    s = 'I love Doosan!'
    # s를 지역변수에 한하지 않고 글로벌로 쓸 수 있는 방법
    print(s)

In [117]:
s = 'I love Hanhwa!'
f()
print(s)

I love Doosan!
I love Doosan!

In [119]:
def calculate(x, y):
    total = x + y
    print("In Function")
    print("a:", str(a), "b:", str(b), "a + b:", str(a+b), "total:", str(total))
    return total

In [120]:
a = 5
b = 7
total = 0
print("In Main")
print("a:", str(a), "b:", str(b), "a + b:", str(a+b))

In Main
a: 5 b: 7 a + b: 12

In [121]:
sum = calculate(a, b)
print("After Calculation")
print("Total:", str(total), "Sum:", str(sum))

In Function
a: 5 b: 7 a + b: 12 total: 12
After Calculation
Total: 0 Sum: 12

In [122]:
def print_name(my_name, your_name):
    print("Hello {0}, My name is {1}".format(your_name, my_name))

In [123]:
print_name("Tom","jane")

Hello jane, My name is Tom

In [124]:
print_name(your_name="jane", my_name="Tom")

Hello jane, My name is Tom

In [125]:
def print_name(my_name, your_name='Jane'):
    print("Hello {0}, My name is {1}".format(your_name, my_name))

In [126]:
print_name("Tom", 'Jane')

Hello Jane, My name is Tom

In [127]:
print_name("Tom")

Hello Jane, My name is Tom

In [129]:
print("a","b","c")

a b c

In [132]:
def variable_length(a, b, *args):
    # args 에 별을 붙이면 이것은 packing 변수로 선언하는 것-> 튜플로 나온다 
    print(a) 
    print(b)
    print(args)

In [133]:
variable_length(1,2,3,4,5)

1
2
(3, 4, 5)

In [135]:
def variable_length(a, b, *args):
    # args 을 unpacking 하는 과정 
    print(a) 
    print(b)
    c,d,e = args
    print(c,d,e)

In [136]:
variable_length(1,2,3,4,5)

1
2
3 4 5

In [138]:
s = "BLACKI LIVES MATTER"
print(s.upper()) # 모두 대문자로
print(s.lower()) # 모두 소문자로
print(s.title()) # 단어들의 첫글자만 대문자로 
print(s.capitalize()) #시작글자만 대문자로 바꾼것 
print(s.count("T"))
print(s.startswith("B"))

k = "123"
print(k.isdigit())

BLACKI LIVES MATTER
blacki lives matter
Blacki Lives Matter
Blacki lives matter
2
True
True

In [140]:
print(1,2,3)
print("%d %d %d" %(1,2,3))
print("%s--%s--%s" %('abc','def','ghi'))
print("{} {} {}".format('abc','def','ghi'))
print("{1} {0} {2}".format('abc', 'def','ghi'))
print(f"{'def'} {'abc'} {'ghi'}")
print("{0:>10s}".format('python'))
print("{0:<10s}".format('python'))
print(f"{'python':>10s}")
print(f"{'python':<10s}")

1 2 3
1 2 3
abc--def--ghi
abc def ghi
def abc ghi
def abc ghi
    python
python
    python
python

In [143]:
items = 'zero one two three'.split()
print(items)

['zero', 'one', 'two', 'three']

In [144]:
examples = 'python,javascript,sql'
print(examples.split(','))

['python', 'javascript', 'sql']

In [145]:
a, b, c = examples.split(',')
print(a,b,c,)

python javascript sql

In [149]:
colors = ['red','blue','green','yellow']
result = '' .join(colors)
print(result)

redbluegreenyellow

In [ ]:
colors = ['red','blue','green','yellow']
result = ''  .join(colors)
print(result)

In [150]:
colors = ['red','blue','green','yellow']
result = ',' .join(colors)
print(result)

red,blue,green,yellow

In [151]:
colors = ['red','blue','green','yellow']
result = '-' .join(colors)
print(result)

red-blue-green-yellow

In [152]:
setens = 'I love you'
reserse_sentens = ''
for char in sentence:
    reverse_sentence =shar +reverser_sentence
print(reverse_sentence)

NameError: name 'shar' is not defined

In [153]:
sentenc = list('I love you')
reverse_sentence = []
for _ in range((len(sentence)):
               reverse_Sentence.append(sentence.pop())

SyntaxError: invalid syntax (<ipython-input-153-246143de4f5e>, line 3)

In [154]:
print(reverse_sentence)

uoy evol I

In [155]:
print(''.join(reverse_sentence))

uoy evol I

In [156]:
map = []
for i in range(5):
    map.append(list())
    for k in range(5):
        map[i].append(0)
        print(f"{map[i][k]:2d} ",end='')
    print()
    
mabangjin(map)
print()
for i in range(5):
    for k in range(5):
        print(f"{map[i][k]:2d} ", end='')
    print()

 0  0  0  0  0
 0  0  0  0  0
 0  0  0  0  0
 0  0  0  0  0
 0  0  0  0  0

NameError: name 'mabangjin' is not defined